/* #modal{
    margin: 0 200px;
} */

h2{
    font-size: 36px;
}
h3{
    display: inline;
}

#item-modal{
    display: flex;
    flex-direction: column;
    padding: 10px;
    /* height: 500px;  */
}

#image-div-modal{
    border: solid lightgray 1px;
    width: 40%;
    height: 100%;
    margin: 0 2px;
}

#image-div-modal img{
    width: 250px;
    height: 250px;
}

#item-content-modal{
    display: flex;
}
#item-info-modal{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;
    padding: 0 20px;
    color: black;
    /* width: 60%; */
    background-color: whitesmoke;
    height: 100%;
    border: solid lightgray 1px;
    width: 100%;
}

#item-info-modal h2{
    margin: 0;
    padding: 0;
}

#item-info-modal button{
    width: 200px;
    height: 40px;
}

#item-info div{
    stroke: white;
    width: max-content;
    margin: 10px 0;
}

.inline-btn{
    display: inline-block;
    margin-left: 10px;
}

#reviews-heading-modal{
    margin-top: 25px;
    padding: 0 10px;
    display: flex;
    align-items: center;
}

#review-tiles-div-modal{
    overflow-y: auto;
    padding: 0;
    border-top: solid #555555 1px;
}

#reviewDiv{
    display: flex;
    flex-direction: column;
    align-content: center;
}

#review-tile-modal{
    /* position: relative; */
    padding: 10px;
    background-color: rgb(210, 206, 206);
    margin-bottom: 10px;
}

#edit-delete-review{
    display: flex;
}

#edit-delete-review button{
    margin: 0 5px;
}

#submitReviewDiv{
    padding: 10px;
}