.itemTile {
    display: flex;
    flex-direction: column;
    width: max-content;
    height: max-content;
    background-color: whitesmoke;
   padding-bottom: 25px;
}

.itemTile a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

#nameDiv,
#priceDiv,
#colorDiv,
#sizeDiv {
    padding: 5px 5px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

#priceDiv {
    color: black;
}

#imgDiv {
    width: 200px;
    height: 200px;
    border: solid #555555 1px;
    position: relative;
}

#imgDiv img {
    width: 100%;
    height: 100%;
}

#page-item-heart, #page-item-heart button{
    position: absolute;
    width: min-content;
    height: min-content;
    padding: 5px;
    border: none;
    background-color: transparent;
}

#shop-page {
    display: flex;
    width: 100%;
    height: 100%;
}

#shop-page-query {
    display: flex;
    width: 100%;
}

#shop-page #filter-form {
    width: min-content;
    background-color: white;
}

#shop-page #item-grid, #wishlist-page #item-grid, #shop-page-query #item-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 15vw));
    gap: calc(3%);
    padding: 10px 0;
    margin: 0% 4%;
}

#colorFilter p {
    color: red;
}

#colorsArray,
/* #colorFilter button {
    margin: 5px 0;
} */

#no-results {
    width: 100%;
    align-items: center;
    justify-self: center;
    color: red;
    border: solid green 2px;
}

#selectOptsDiv{
    display: flex;
    justify-content: center;
    width: 100%;
}