#hidden{
    visibility: hidden;
}

#checkoutForm input{
    margin: 0;
    border: solid #555555 1px;
    height: 40px;
    width: 100%;
}

#checkoutForm div{
    width: 100%;
    margin: 5px 0;
}

#checkout-submit-btn{
    width: 50%;
    margin: 10px 0;
}

#checkoutForm div div{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* border: solid gold 1px; */
    height: auto;
    padding: 0;
    width: 500px;
}

form h2{
    margin: 0 auto;
}

#checkout-page{
    display: flex;
    justify-content: center;
    margin: 0 100px;
    align-items: center;
    background-color: white;
}

#checkout-page > div{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 10px 20px;
    align-self: flex-start;
}


#customer-info h1{
  font-size: 60px;
  justify-self: center;
}

#customer-info select{
    height: 40px;
}

.cartTotal{
    position: sticky;
    font-size: 30px;
    top: -10px;
    right: -600px;
}

#customer-info p{
    color: red;
}

/* form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    border: solid black 1px;
    padding: 10px;
} */

/* form div {
    width: 100%;
    border: solid green 1px;
    justify-content: space-between;
} */
