/* TODO Add site wide styles */

*{
  font-family: "Domine", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
}
html{
    background-color: whitesmoke;
    box-sizing: border-box;
    font-family: 'Domine';
    width: 100%;
    height: 100%;
}

body{
    margin: 5px 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#root{
    /* display: grid;
    grid-template-rows: 15vh 80vh 5vh;
    grid-template-areas: 
    'header'
    'body'
    'footer'; */

    background-color: whitesmoke;
}

#nav{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    border: solid #F0EDEE 3px;
    width: 100%;
    height: 75px;
    background-color: #222222;
}

#body{
    grid-area: body;
    width: 100%;
    margin: 20px auto;
    /* overflow-y: auto; */
    height: 100vh;
}

button{
    /* border: none; */
    color: whitesmoke;
    background-color: #222222;
    border: none;
    min-height: 40px;
    min-width: 40px;
    margin: 5px;
}

button:hover{
    cursor: pointer;
    background-color: #555555
}
