.profile-dropdown{
    display: flex;
    flex-direction: column;
    background-color: #222222;
    color: whitesmoke;
    position: absolute;
    right: 10px;
    top: 65px;
    border: solid whitesmoke 1px;
    padding: 0;
    width: 200px;
    z-index: 1;
}

.menu-dropdown{
    display: flex;
    flex-direction: column;
    background-color: #222222;
    color: whitesmoke;
    position: absolute;
    left: 10px;
    top: 65px;
    border: solid whitesmoke 1px;
    padding: 0;
    width: 200px;
    z-index: 1;
}

.submenu-dropdown-men{
    display: flex;
    flex-direction: column;
    background-color: #222222;
    color: whitesmoke;
    position: absolute;
    left: 198px;
    top: 99px;
    border: solid whitesmoke 1px;
    padding: 0;
    width: 200px;
    z-index: 1;
}

.submenu-dropdown-women{
    display: flex;
    flex-direction: column;
    background-color: #222222;
    color: whitesmoke;
    position: absolute;
    left: 198px;
    top: 149px;
    border: solid whitesmoke 1px;
    padding: 0;
    width: 200px;
    z-index: 1;
}

#nav-menu li:hover{
    cursor: pointer;
    background-color: #555555;
}

#nav-menu-btn{
    display: flex;
    justify-content: space-between;
}

.arrow-symbol{
    color: whitesmoke;
    text-decoration: none;
}

.arrow-symbol:hover{
    color: #555555;
}

.login-signup{
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid whitesmoke 1px;
}

.login-signup:hover, .profile-dropdown #menu-clickable:hover{
    background-color: #555555;
    cursor: pointer;
}

#user-info{
    align-self: center;
    /* border: solid lightgrey 1px; */
    text-decoration: none;
    width: 100%;
    
}

#user-info > #menu-clickable{
    padding: 5px;
    /* border-bottom: solid white 1px; */
    width: max-content;
    /* margin: 0; */
    width: 100%;
    font-size: 16px;
}

#user-info > #menu-clickable:hover{
    color: lightgrey;
    cursor: pointer;
}

#user-info > #menu-clickable button:hover{
    color: lightgrey;
    cursor: pointer;
}
/* 
#user-info div:hover{
    padding: 5px;
    width: max-content;
    margin: 0;
    width: 100%;
    color: lightgrey;
    cursor: pointer;
} */


#companyName {
    display: flex;
    align-items: center;
    justify-self: center;
}

#companyName h2{
    margin: 0;
    font-size: 40px;
    color: azure;
}

#companyName h2:hover{
    color: lightgray;
    -webkit-text-stroke: 1px azure;
}

#user-icons{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    grid-area: userIcons;
    min-width: 150px;
    max-width: 250px;
    justify-self: flex-end;
}

#nav-icon{
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    list-style: none;
    padding: 5px 0;
    font-size: 14px;
}

#nav-icon button, #companyName button{
    background-color: transparent;
    border: none;
    color: white;
}

#nav-icon p {
    margin: 0;
    align-self: center;
    color: azure;
}

#nav-icon button:hover, #companyName button:hover{
    cursor: pointer;
}

.hidden {
    display: none;
}

#nav ul{
    text-decoration: none;
    list-style: none;
}